@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Poppins:wght@300&family=Square+Peg&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#logo-nav {
    width: 100px;
}
#mobile-nav {
    background-color: rgb(240, 225, 255);   
}

.collapsible {
    background-color:rgb(240, 225, 255);
    color: rgb(0, 0, 0);
    font-size: 15px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.collapsible.popout{
    background-color: transparent;
    margin-left: auto;
}
.collapsible-header{
    background-color:rgb(240, 225, 255);
}

#search-input {
    float: right;
    padding: 6px;
    margin-top: 16px;
    margin-right: 16px;
    border: none;
    font-size: 17px;
    box-shadow: 0px 0px 10px  rgb(196, 164, 255); 
    width: 250px;
    height: 20px;
    color: black;
    background-color: aliceblue;
}

.container-footer {
    position: relative;
    min-height: 100%;
    background: #fcfcfc;
}

.footer {
   background: rgb(240, 225, 255);   
   color: black;
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   text-align: center;
}

p {
    text-align: center;
    font-size: 20px;
    margin: 25px;
}

/* pode-se usar o * .classe #id e [atributo personalizado] 
    :pseudo-classe ::pseudo-elemento
    COMBINAÇÃO DE ELEMENTOS
    
    div + p -> irmãos adjacentes
    
    div ~ p -> irmãos em geral
    
    div > p -> filho direto
    
    div p -> descendente, qualquer elemento que seja descendente
    
    span:nth-child(1) -> qro o primeiro filho de alguém que é do
    tipo span

    section > :nth.clild(odd) -> filhos ímpares

    ORDEM DE ESPECIFICIDADE
    
    1. Inline
    2. ID
    3. Classe, pseudo-classe, atributo
    4. elemento, pseudo-elementos

    ex: div { background-color: #black }
        div:hover { background-color: #purple } *
        div.estilo { background-color: #yellow } *
        div[wm-color] { background-color: #green } *
        
        * as tres ultimas tem peso igual, mas pela ordem, quem
        é executado é o último

        #unico1 { background-color: #gray } passa por cima de todos

        div é elemento block (e ja é display block)
        span usa o display inline
        ul usa display block
        li usa display list-item
        block significa o elemento será impresso na sua linha individual 

        bordas e padding não são transmitidas por herança,
        exceto se setar com inherit

        span tem display diferente, tipo caixa

    */